.carousel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Set the desired height */
  }
  
  .carousel-item {
    text-align: center;
  }
  
  .carousel-item img {
    width: 400px;
    height: 200px;
    
  }
  