.navbar {
  text-align: center;
  background-color: #333; /* Example background color */
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.navbar-link {
  margin: 0 15px;
  text-decoration: none;
  color: white; /* Make the text color white */
  transition: color 0.3s ease; /* Makes color change smoothly */
}

/* Specific styles for the links when hovered */
.navbar-link:hover {
  color: #ddd; /* Example color - light grey, changes when link is hovered over */
  cursor: pointer;
}

.home-link {
  margin-right: auto;
}

.signin-link {
  margin-left: auto;
}

.navbar-links {
  margin-top: 10px;
  display: flex; /* makes the categories listed horizontally */
  justify-content: center; /* centers the links */
}

/* If you want the categories specifically under the search bar and not stretching full width */
.navbar-links .navbar-link {
  margin: 0 5px; /* Adjust space between categories */
}
