.search-bar {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden; /* Important to clip the child elements by the border-radius */
}

.search-bar input[type="text"] {
  flex-grow: 1;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 0; /* square corners on the side attached to the button */
  transition: all 0.3s ease; /* Transition effect for all properties */
}

.search-bar input[type="text"]:hover,
.search-bar input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(0,0,0,0.2); 
}

.search-bar button {
  border: none;
  padding: 5px; 
  cursor: pointer;
  transition: all 0.3s ease; 
  margin:0;
}

.search-bar button:hover {
  background-color: #FF1a1a;
}

.search-bar button img {
  height: 10px;
  width: auto;
}
